.app {
    background: url("../../../img/bgPictures/sunrise.jpg");
    height: 100vh;
    display: flex;
    flex-direction: column;

    a:hover {
        color: inherit;
    }
}

.main-layout {
    width: 750px;
    background-color: rgba(2, 2, 2, 0.62);
    color: white;
    padding: 15px;
    border-radius: 7px;

    @include for-super-mobile-layout {
        max-width: 300px;
        padding: 7px;
    }

    @include for-mobile-layout {
        max-width: 400px;
        padding: 7px;
    }

    @include for-semi-mobile-layout {
        max-width: 460px;
        padding: 15px;
    }

    @include for-narrow-layout {
        max-width: 750px;
    }
}
